.page-1-box-1{
  /* page-1-1st section */
  /* page-2-2nd section */
  width : 1050px;
  height : 1000px;
}

.page-1-box-2{
  /* page-1-2nd section */
  /* page-2-1st section */
  width : 600px;
  height: 50px;

}

.page-1-img{
  /* page-1,2 img */
  width: 800px;
  height: 700px;
}

#page-2-box-1{
  width : 600px;
  height: 50px;

}

#page-2-box-2{
  width : 1050px;
  height : 1000px;

}

#page-2-img{
  width: 800px;
  height: 700px;;
}
